{%- style -%}
  .section-{{ section.id }}-margin {
    margin-top: {{ section.settings.margin_top | times: 0.32 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.53 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding{
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }


  @media screen and (min-width: 560px){
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top | times: 0.65 | round: 0 }}px;
      margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    }

    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 990px){
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
      margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    }

    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.padding_top | times: 0.99 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1030px){
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
      margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    }

    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.padding_top | times: 0.99 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1560px) {
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }

    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<section>

</section>

{% schema %}
  {
    "name": "Featured Collection",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "select",
        "id": "container_section",
        "label": "Section Width",
        "options": [
          {
            "value": "fit",
            "label": "Fit"
          },
          {
            "value": "fill",
            "label": "Fill"
          }
        ],
        "default": "fit"
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Tisso vison in the wild",
        "label": "t:sections.featured-collection.settings.title.label"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3,
        "label": "t:sections.featured-collection.settings.columns_desktop.label"
      },
      {
        "type": "select",
        "id": "columns_mobile",
        "default": "2",
        "label": "Number of columns on mobile",
        "options": [
          {
            "value": "1",
            "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
          },
          {
            "value": "2",
            "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Margin"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": -100,
        "max": 300,
        "step": 4,
        "unit": "px",
        "label": "Margin Top",
        "default": 36
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 300,
        "step": 4,
        "unit": "px",
        "label": "Margin Bottom",
        "default": 36
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 300,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 300,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      }
    ],
    "blocks": [
      {
       "type": "@app"
      },
      {
        "type": "card",
        "name": "Product Card",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "select",
            "id": "image_ratio",
            "label": "Image ratio",
            "options": [
              {
                "value": "cover",
                "label": "Fill"
              },
              {
                "value": "contain",
                "label": "Fit"
              }
            ],
            "default": "cover"
          },
          {
            "type": "range",
            "id": "corner_radius",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Image corner radius",
            "default": 0
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "Custom Featured Collection",
        "blocks": [
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          }
        ]
      }
    ]
  }
{% endschema %}